* {
    font-family:'Smooch Sans';
    color: white;
}

body {
    background-color:#1E2124;
}

h1 {
    font-size: 48px;   
    margin: 0px;
    padding-top: 0.5em;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 28px;
    margin:0;
}

article h2 {
    text-align: center;
}

label {
    font-size: 28px;
}

select {
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    font-size: 24px;
}

li {
    word-wrap:break-word;
}

button {
    appearance: none;
    cursor: pointer;
    background-color: inherit;
    border: none;
    margin: 0;
    padding: 0;
    height: 50%;
    flex-grow: 2;
    top: 1em;
}

p{
    font-size: 20px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

h2:hover{
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: white;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

#masthead{
    height: 10%;
    display: flex;
    justify-content: space-between;
    background-color:#1E2124;
    padding-top: 1em;
    padding-left: 1em;

    margin-right: 1em;
}

#profile_pic {
    height: 100px;
    float: right;
    padding-left: 1em;
}

#profile {
    display: flex;
    flex-direction: row;
}

#sidebar {
    float: left;
    height: 80vh;
    width: 10%;
    min-width: 200px;
    background-color:#282B30;
    font-size: 32px;
}

#center {
    width: inherit;
    height: 80vh;
    background-color: #36393E;
}

#post_list {
    overflow: auto;
    height: 88%;
}

#top {
    width: 100%;
    height: 10%;
    min-height: 80px;
}

#top h2 {
    padding-top: 0.3em;
    position: relative;
    right: 2em;
    top: 0.25em;
}

#sort_by{
    float: left;
    margin-left: 1em;
    position: relative;
    top: 2em;
    z-index: 3;
}

.profile_bar{
    padding-right: 0.2em;
    top: 0.5em;
    font-size: 32px;
    position:relative;
}

.post {
    padding-left: 1em;
    background-color: #424549;
    height: 10em;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.post_image{
    height: 90%;
    margin:auto;
}

.post_text {
    flex: 1 1 auto;
    margin-left: 1em;
    margin-top: 1em;
}

.post_info {
    margin-top: 0.5em;
}

.hidden {
    display: none;
}

.like_num{
    font-size: 28px;
    position: relative;
    left:0.35em;
}

.likes {
    height: inherit;
    margin-right: 2em;
    margin-left: 0.25em;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 28px;
}

.not_liked {
    height: 80%;
    flex-grow: 2;
    top: 1em;
    padding-top: 2em;
    filter: drop-shadow(3px 3px 1px #0000005d);
}

.liked {
    height: 80%;
    flex-grow: 2;
    top: 1em;
    padding-top: 2em;
    filter: drop-shadow(3px 3px 1px #0000005d);
}

.admin_button{
    appearance: none;
    background-color: #ec5657;
    border: initial;
    border-radius: 5px;
    margin-left: 0.5em;
    padding: 0.1em;
    height: 50%;
    top: 0;
    font-size: 20px;
}

.admin_button:hover{
    text-decoration: underline;
    cursor: pointer;
}