* {
    font-family:'Smooch Sans';
    color: red;
}

body {
    background-color:#1E2124;
}

h1 {
    font-size: 48px;   
    margin: 0px;
    padding-top: 0.5em;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 28px;
    text-indent: 0.5em;
}

h4{
    font-size: 24px;
    margin: 0;
}

p {
    margin-left: 100px;
    font-size: 40px;
}

br{
    line-height: 150%;
}

article h2 {
    text-align: center;
}

label {
    font-size: 28px;
}

select {
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    font-size: 24px;
}

li {
    word-wrap:break-word;
}

button {
    appearance: none;
    cursor: pointer;
    background-color: inherit;
    border: none;
    margin: 0;
    padding: 0;
    height: 50%;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: white;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

#masthead{
    height: 10%;
    display: flex;
    justify-content: space-between;
    background-color:#1E2124;
    padding-top: 1em;
    padding-left: 1em;
}

#profile_pic {
    height: 100px;
    width: 100px;
    float: right;
    padding-left: 1em;
}

#profile {
    display: flex;
    flex-direction: row;
}

#main {
    margin-top: 2em;
}

#sidebar {
    float: left;
    height: 80vh;
    width: 10%;
    min-width: 200px;
    background-color:#282B30;
    font-size: 32px;
}

#center {
    width: inherit;
    height: 80vh;
    background-color: #36393E;
}

#top {
    width: 100%;
    height: 10%;
    min-height: 80px;
    background-color: #424549;
}

#top h2 {
    float: left;
    margin: 0;
    padding-top: 0.5em;
}

#post_title {
    text-align: left;
    text-indent: 1em;
}

#post_by {
    text-align: right;
    padding-top: 1.5em;
    padding-right: 2em;
}

#post {
    overflow: auto;
    height: 88%;
}

#post_image {
    max-height: 400px;
    float: left;
}

#comment_title {
float: left;
}

.post_likes {
    float: right;
    height: 120px;
    width: 3em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 28px;
}

.comment {
    padding-left: 1em;
    padding-top: 1em;
    background-color: #424549;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 1.5em;
    clear: both;
}

.comment_pic {
    height: 100px;
}

.comment_date {
    margin: 0;
}

.comment_text {
    margin-left: 1em;
    margin-right: 1em;
}

.likes {
    height: 100px;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 28px;
}

.like {
    height: 100%;
    flex-grow: 2;
    filter: drop-shadow(3px 3px 1px #0000005d);
}

.like_number {
    margin:0;
}